

<button
style="border: 0px;" 
type="button" class="btn btn-outline-secondary"   
placement="bottom"
[ngbPopover]="popContent"
[popoverTitle]="tituloDeLaAyuda"
popoverClass="my-custom-class">
<i
    class="far fa-question-circle"
>
</i>
</button>
<ng-template #popContent>
    <!--Desplegamos el contenido dependiendo el parametro que necesitamos--->
    <div style="width: 100%" *ngFor="let contenido of ArrayDeFilasDeContenido">
        <p>
            {{ contenido }}
        </p>
    </div>
    <div style="width: 100%" *ngFor="let hiperVinculo of hiperVinculos">
    
        <a [href]="hiperVinculo" style="text-decoration: underline; color:blue">{{ hiperVinculo }}
        </a>
            
    </div>
</ng-template>
