<section id="optionshome">

  <div class="container-fluid" >
    <div class="d-flex" style="width: 100%">
      <div class="row contentCards">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card cardAzul" style="padding-left: 10px">


            <div class="card-body cardCatalogos">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center">
                    <div>
                      <a routerLinkActive="active" routerLink="/administracion/catalogos">
                        <img src="assets/imgs/icons/inicio/items/catalogo.png" class="itemsTextoImagenCentro" />
                        Catálogos</a>
                    </div>
                  </div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center">
                    <div>
                      <a routerLinkActive="active" routerLink="/administracion/usuarios">
                        <img src="assets/imgs/icons/inicio/items/usuarios.png" class="itemsTextoImagenCentro" />
                        Usuarios</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 marginResponsibe">
          <div class="card">


            <div class="card-body">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div>
                  <div class="elementsMenus d-flex flex-column justify-content-center">
                    <div>
                      <a routerLinkActive="active" routerLink="/procesos/diurno">
                        <img src="assets/imgs/icons/inicio/items/feather-sun.png" class="itemsTextoImagenCentro" />
                        Diurnos</a>
                    </div>
                  </div>
                  <div class="elementsMenus d-flex flex-column justify-content-center">
                    <div>
                      <a routerLinkActive="active" routerLink="/procesos/nocturno">
                        <img src="assets/imgs/icons/inicio/items/feather-moon.png" class="itemsTextoImagenCentro" />
                        Nocturno</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <div class="row justify-content-center">
      <div class="d-flex col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 justify-content-center">
        <div class="card-lista-design-general" style="overflow-x: auto">


          <table class="table listado-design-general" >
            <tr>
              <th style="padding-left: 40px; max-width: 300px">Nombre</th>
              <th style="padding-left: 40px; max-width: 300px">Correo</th>
              <th style="padding-left: 40px; max-width: 150px">Área</th>
              <th style="padding-left: 40px; max-width: 150px">Permisos</th>
              <th style="padding-left: 40px; max-width: 150px">Negocio</th>
              <th style="padding-left: 40px; max-width: 150px">Acciones</th>
            </tr>

          </table>
        </div>
      </div>



    </div>
  </div>
</section>
