.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .detalle-icon2{
    background: transparent url("../../../../../../assets/icons/icono-detalles-b.svg") 0% 0% no-repeat
      padding-box;
    width: 30px;
    height: 30px;
    opacity: 1;
    margin: 0 15px;
    padding: 15px;
  }


  table.listado-design-generalArchivo th {
    background-color: #125FA4;
    font: bold 18px FS Elliot Pro;
    height: 40px;
    height: 40px;
    font: bold 18px FS Elliot Pro;
  }




