<div class="wrapper" *ngIf="DataUser$ | async as DataUser">
  <nav id="sidebar" class="d-flex flex-column">
    <div class="sidebar-header">
      <div class="logo-navbar"></div>
    </div>
    <ul class="lisst-unstyled components">
      <p class="text-title-menu">Sistema Integral Automatizado</p>
      <li>
        <a routerLinkActive="active" routerLink="/"><img src="../assets/imgs/inicio.svg"
            class="alineadoTextoImagenCentro" />Inicio</a>
      </li>
      <li class="active">
        <a (click)="clickNav($event)" id="navAdministracion" href="#administracion" class="dropdown-toggle"
          data-toggle="collapse" data-target="#administracion" aria-expanded="false"
          *ngIf="flagAdministracion">
          <img src="../assets/imgs/administracion.svg" class="alineadoTextoImagenCentro" />
          Administración
        </a>
        <ul class="collapse lisst-unstyled" id="administracion">
          <li *ngIf="flagAdminCatalogos">
            <a routerLinkActive="active" routerLink="/administracion/catalogos">
              <img src="../assets/imgs/icons/catalogo.svg" class="alineadoTextoImagenCentro" />
              Catálogos</a>
          </li>
          <li *ngIf="flagAdminUsuarios">
            <a routerLinkActive="active" routerLink="/administracion/usuarios">
              <img src="../assets/imgs/icons/usuarios.svg" class="alineadoTextoImagenCentro" />
              Usuarios</a>
          </li>
          <li *ngIf="flagAdminNotificaciones">
            <a routerLinkActive="active" routerLink="/administracion/notificaciones">
              <img src="../assets/icons/icono-notificaciones.svg" class="alineadoTextoImagenCentro" />
              Notificaciones</a>
          </li>
        </ul>
      </li>
      <li class="active" *ngIf="flagAuditoria">
        <a (click)="clickNav($event)" id="navAudiroria" href="#auditoria" class="dropdown-toggle" data-toggle="collapse"
          data-target="#auditoria" aria-expanded="false" >
          <img src="../assets/imgs/auditoria.svg" class="alineadoTextoImagenCentro" />Auditoría
        </a>
        <ul class="collapse lisst-unstyled" id="auditoria">
          <li *ngIf="flagAuditoriaInterfaces">
            <a routerLinkActive="active" routerLink="/auditoria/interfaces">
              <img src="../assets/imgs/icons/icono-interfases.svg" class="alineadoTextoImagenCentro" />
              Interfaces</a>
          </li>
          <li *ngIf="flagAuditoriaCatalogos">
            <a routerLinkActive="active" routerLink="/auditoria/catalogos">
              <img src="../assets/imgs/icons/catalogo.svg" class="alineadoTextoImagenCentro" />
              Catálogos</a>
          </li>
          <li *ngIf="flagAuditoriaProcesos">
            <a routerLinkActive="active" routerLink="/auditoria/procesos">
              <img src="../assets/imgs/icons/procesos.svg" class="alineadoTextoImagenCentro" />
              Procesos</a>
          </li>
          <li *ngIf="flagAuditoriaUsuarios">
            <a routerLinkActive="active" routerLink="/auditoria/usuarios">
              <img src="../assets/imgs/icons/usuarios.svg" class="alineadoTextoImagenCentro" />
              Usuarios</a>
          </li>
        </ul>
      </li>
      <li class="active" *ngIf="flagProcesos">
        <a (click)="clickNav($event)" id="navProceso" href="#procesos" class="dropdown-toggle" data-toggle="collapse"
          data-target="#procesos" aria-expanded="false">
          <img src="../assets/imgs/procesos.svg" class="alineadoTextoImagenCentro" />Procesos
        </a>
        <ul class="collapse lisst-unstyled" id="procesos">
          <li *ngIf="flagProcesosDiurnos">
            <a routerLinkActive="active" routerLink="/procesos/diurno">
              <img src="../assets/imgs/icons/sun.svg" class="alineadoTextoImagenCentro" />
              Diurnos</a>
          </li>
          <li *ngIf="flagProcesosNocturnos">
            <a routerLinkActive="active" routerLink="/procesos/nocturno">
              <img src="../assets/imgs/icons/moon.svg" class="alineadoTextoImagenCentro" />
              Nocturnos</a>
          </li>
        </ul>
      </li>
      <li>
        <a (click)="signOut()" style="cursor: pointer"><img src="../assets/imgs/cerrar-sesion.svg"
            class="alineadoTextoImagenCentro" />Cerrar sesión</a>
      </li>
    </ul>
  </nav>
  <!-- INICIO  HEADER -->
  <div id="content">
    <nav id="headernav" class="
        margin-navbar-barra
        navbar navbar-expand-lg navbar-light
        bg-light
        navbar-fixed-top navbar-slide-nav
      ">
      <div class="container-fluid">
        <button (click)="toggle()" type="button" id="siderCollapse" class="btn btn-light col-1">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="retornarClaseCorrecta()" class="col-5">
          <div id="tabla">
            <div class="A"><img [src]="retornarIconoCorrecto()" /></div>
            <div class="B">
              <p>
                <span *ngFor="let ruta of arrayRuta(); index as i">
                  <a *ngIf="
                      arrayRuta().length > 2 && i !== arrayRuta().length - 1
                    " style="cursor: pointer; text-decoration-line: underline" (click)="irRutaDeStringRuta(i)">{{
                    arrayRuta()[i] }}/</a>
                  <span *ngIf="
                      arrayRuta().length < 3 || i === arrayRuta().length - 1
                    ">{{ arrayRuta()[i] }}/</span>
                </span>
                <span *ngIf="arrayRuta().length === 0">Inicio</span>
              </p>
            </div>
          </div>
        </div>
        <div [ngClass]="retornarClaseCorrectaDrecha()" class="col-3 align-self-end texto-responsivo-usuario">
          <div class="centrado">
            <strong><b>{{ DataUser.attributes.given_name }}
                {{ DataUser.attributes.family_name }}</b></strong>
            <div [ngClass]="retornarClaseCorrectaLinea()"></div>
            <p *ngIf="usuario.validarRolUsuario()">
              {{ obtenerArea() }} /
              {{
              DataUser.attributes.hasOwnProperty("custom:rol")
              ? DataUser.attributes["custom:rol"]
              : ""
              }}
            </p>
          </div>
        </div>
        <div class="col-2">
          <div [ngStyle]="{ 'background-color': colorCamppanaCorrecto() }" class="cuadroNotificaciones dropdown"
            id="dLabel" role="button" data-toggle="dropdown" data-target="#">
            <img class="imagenNotificaciones" src="assets/icons/bell.png" />
            <span [ngStyle]="{ color: colorCamppanaCorrecto() }" *ngIf="Notificaciones.length > 0">{{
              Notificaciones.length }}</span>

            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
              <div class="notification-heading dropdown-item">
                <h4 class="menu-title">Notificaciones</h4>
              </div>
              <li class="divider"></li>
              <div class="notifications-wrapper">
                <div class="content" *ngFor="
                    let Notificacion of Notificaciones
                      | ordenarNotificacionesFecha
                  ">
                  <div class="notification-item" (click)="irAlProceso(Notificacion)">
                    <div class="item-title">
                      <div>{{ verEstado(Notificacion) }}</div>
                    </div>

                    <div class="item-info">
                      {{ Notificacion.INTERFAZ }}
                    </div>
                    <div class="item-info">
                      {{
                      replazarCaracterEspecial(Notificacion.FECHA_FINALIZADO)
                      | date: "medium"
                      }}
                    </div>
                  </div>
                  <button style="margin-top: -55px; margin-right: 20px" type="button" class="close"
                    (click)="eliminarNotificacion(Notificacion.ID_PROCESO)">
                    <span style="
                        font-size: 15px;
                        color: black;
                        background-color: transparent;
                      ">&times;</span>
                  </button>
                </div>
              </div>
              <li class="divider"></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="margin-principal">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- FIN -->
</div>