<div class="wrapper">
  <nav
    id="sidebar"
    class="d-flex flex-column"
    *ngIf="DataUser$ | async as DataUser"
  >
    <div class="sidebar-header">
      <div class="logo-navbar"></div>
    </div>
    <ul class="lisst-unstyled components">
      <p class="text-title-menu">Sistema Integral Automtizado</p>
      <li>
        <a routerLinkActive="active" routerLink="/"
          ><img
            src="../assets/imgs/inicio.svg"
            class="alineadoTextoImagenCentro"
          />Inicio</a
        >
      </li>
      <li class="active">
        <a
          href="#administracion"
          class="dropdown-toggle"
          data-toggle="collapse"
          data-target="#administracion"
          aria-expanded="false"
        >
          <img
            src="../assets/imgs/administracion.svg"
            class="alineadoTextoImagenCentro"
          />
          Administración
        </a>
        <ul class="collapse lisst-unstyled" id="administracion">
          <li *ngIf="rolesValids(DataUser, [Administrador, Ejecutor])">
            <a routerLinkActive="active" routerLink="/administracion/catalogos">
              <img
                src="../assets/imgs/icons/catalogo.svg"
                class="alineadoTextoImagenCentro"
              />
              Catálogos</a
            >
          </li>
          <li *ngIf="rolesValids(DataUser, [Soporte])">
            <a routerLinkActive="active" routerLink="/administracion/usuarios">
              <img
                src="../assets/imgs/icons/usuarios.svg"
                class="alineadoTextoImagenCentro"
              />
              Usuarios</a
            >
          </li>
        </ul>
      </li>
      <li class="active">
        <a
          href="#auditoria"
          class="dropdown-toggle"
          data-toggle="collapse"
          data-target="#auditoria"
          aria-expanded="false"
          routerLink="/auditoria/"
        >
          <img
            src="../assets/imgs/auditoria.svg"
            class="alineadoTextoImagenCentro"
          />Auditoria
        </a>
        <ul class="collapse lisst-unstyled" id="auditoria">
          <li>
            <a routerLinkActive="active" routerLink="/auditoria/archivos">
              <img
                src="../assets/imgs/icons/archivos.svg"
                class="alineadoTextoImagenCentro"
              />
              Archivos</a
            >
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/auditoria/catalogos">
              <img
                src="../assets/imgs/icons/catalogo.svg"
                class="alineadoTextoImagenCentro"
              />
              Catálogos</a
            >
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/auditoria/procesos">
              <img
                src="../assets/imgs/icons/procesos.svg"
                class="alineadoTextoImagenCentro"
              />
              Procesos</a
            >
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/auditoria/usuarios">
              <img
                src="../assets/imgs/icons/usuarios.svg"
                class="alineadoTextoImagenCentro"
              />
              Usuarios</a
            >
          </li>
        </ul>
      </li>
      <li class="active">
        <a
          href="#procesos"
          class="dropdown-toggle"
          data-toggle="collapse"
          data-target="#procesos"
          aria-expanded="false"
        >
          <img
            src="../assets/imgs/procesos.svg"
            class="alineadoTextoImagenCentro"
          />Procesos
        </a>
        <ul class="collapse lisst-unstyled" id="procesos">
          <li>
            <a routerLinkActive="active" routerLink="/procesos/diurnos">
              <img
                src="../assets/imgs/icons/sun.svg"
                class="alineadoTextoImagenCentro"
              />
              Diurnos</a
            >
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/procesos/nocturnos">
              <img
                src="../assets/imgs/icons/moon.svg"
                class="alineadoTextoImagenCentro"
              />
              Nocturnos</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a (click)="signOut()"
          ><img
            src="../assets/imgs/cerrar-sesion.svg"
            class="alineadoTextoImagenCentro"
          />Cerrar sesión</a
        >
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav
      style="margin-top: 34px"
      class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top navbar-slide-nav"
    >
      <div class="container-fluid">
        <button
          (click)="toggle()"
          type="button"
          id="siderCollapse"
          class="btn btn-light"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
