<section id="optionshome" *ngIf="DataUser$ | async as DataUser">
  <div class="container-fluid" *ngIf="!usuario.validarRolUsuario()">
    <div
      class="row justify-content-center"
      style="height: 60vh; width: 100%"
    >

    <div class=" align-self-center">


      <div class="d-flex flex-column" style="width: 504px;">
        <div class="tituloInicioPrimerLogin">¡Bienvenido!</div>
        <div class="descripcionPrimerLogin"  style="margin-top:34px">

          <div class="row">
            <div class="col-2"> <img
              src="assets/icons/icono-telefono.svg"
              class="rounded-circle ImgsMenuHome" style="margin-top: -11px !important"
            /></div>
            <div class="col-10"><p>Es necesario que contactes con Soporte para que te asignen un rol dentro de la aplicación.</p></div>

          </div>
         </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid" *ngIf="usuario.validarRolUsuario()">
    <div class="d-flex" style="height: 75vh; width: 100%">
      <div class="row contentCards">
        <div
          class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
          *ngIf="rolesValids(DataUser, [Administrador, Soporte])"
        >
          <div class="card">
            <div
              class="aling-items-center text-center headerCardsMenu"
              style="background-color: #0a8299"
            >
              <img
                src="assets/imgs/icons/inicio/administracion.svg"
                class="rounded-circle ImgsMenuHome"
              />
              <div
                class="d-flex flex-column align-items-center justify-content-center heightTitleCardsMenu"
              >
                Administración
              </div>
            </div>

            <div class="card-body">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div>
                  <div
                    *ngIf="rolesValids(DataUser, [Administrador, Ejecutor])"
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/administracion/catalogos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/catalogo.png"
                          class="itemsTextoImagenCentro"
                        />
                        Catálogos</a
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="rolesValids(DataUser, [Soporte])"
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/administracion/usuarios"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/usuarios.png"
                          class="itemsTextoImagenCentro"
                        />
                        Usuarios</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 marginResponsibe">
          <div class="card">
            <div
              class="aling-items-center text-center headerCardsMenu"
              style="background-color: #464e7e"
            >
              <img
                src="assets/imgs/icons/inicio/proceso.svg"
                class="rounded-circle ImgsMenuHome"
              />
              <div
                class="d-flex flex-column align-items-center justify-content-center heightTitleCardsMenu"
              >
                Procesos
              </div>
            </div>

            <div class="card-body">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/procesos/diurnos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/feather-sun.png"
                          class="itemsTextoImagenCentro"
                        />
                        Diurnos</a
                      >
                    </div>
                  </div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/procesos/nocturnos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/feather-moon.png"
                          class="itemsTextoImagenCentro"
                        />
                        Nocturno</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 marginResponsibe">
          <div class="card">
            <div
              class="aling-items-center text-center headerCardsMenu"
              style="background-color: #035fa4"
            >
              <img
                src="assets/imgs/icons/inicio/auditoria.svg"
                class="rounded-circle ImgsMenuHome"
              />
              <div
                class="d-flex flex-column align-items-center justify-content-center heightTitleCardsMenu"
              >
                Auditoría
              </div>
            </div>

            <div class="card-body">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/auditoria/archivos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/archivos.png"
                          class="itemsTextoImagenCentro"
                        />
                        Archivos</a
                      >
                    </div>
                  </div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/auditoria/catalogos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/catalogo.png"
                          class="itemsTextoImagenCentro"
                        />
                        Catálogos</a
                      >
                    </div>
                  </div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/auditoria/procesos"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/procesos.png"
                          class="itemsTextoImagenCentro"
                        />

                        Procesos</a
                      >
                    </div>
                  </div>
                  <div
                    class="elementsMenus d-flex flex-column justify-content-center"
                  >
                    <div>
                      <a
                        routerLinkActive="active"
                        routerLink="/auditoria/usuarios"
                      >
                        <img
                          src="assets/imgs/icons/inicio/items/usuarios.png"
                          class="itemsTextoImagenCentro"
                        />
                        Usuarios</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
