<div class="row justify-content-center ">
  <div class="d-flex col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-6 justify-content-center">
    <div class="card-busqueda">
      <div>Buscar usuario por</div>
      <div>
        <select name="cars" id="cars" value="Permiso">
          <option disabled selected>Permiso</option>
          <option value="Administrador">Administrador</option>
          <option value="AdministradorArea">Administrador de área</option>
          <option value="Ejecutor">Ejecutor</option>
          <option value="Soporte">Soporte</option>
        </select>
      </div>
      <div><button>Buscar</button></div>
    </div>
  </div>
</div>