<div class="row justify-content-center">
  <div class="d-flex col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-6 justify-content-center">
    <div class="card-busqueda">
      <div>Buscar usuario por</div>

      <div>
        <form [formGroup]="FiltroUsuarioForm">
        <select formControlName="grupo" name="grupo" id="grupo" value="Permiso">
          <option disabled selected>Permiso</option>
          <option *ngFor="let grupo of Grupos" [value]="grupo.value">{{grupo.label}}</option>
        </select>
      </form>
      </div>
      <div><button  (click)="filtrar()">Buscar</button></div>

    </div>
  </div>
</div>


<div class="row justify-content-center ">

  <div class="d-flex col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 justify-content-center">

    <div class="card-lista-design-general" style="overflow-x:auto;">
      <table class="table  listado-design-general"  *ngIf="ListadoUsuarios.length > 0">
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Área</th>
          <th>Permisos</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let usuario of ListadoUsuarios">
          <td style="padding-left: 40px;"> {{retornarStringSiexiste(usuario.Attributes, 'given_name')}} {{retornarStringSiexiste(usuario.Attributes, 'family_name')}} </td>
          <td> {{retornarStringSiexiste(usuario.Attributes, 'email')}} </td>
          <td>{{retornarStringSiexiste(usuario.Attributes, 'custom:area')}} </td>
          <td>{{usuario.GrupoQuePertenece}}</td>
          <td> <img  (click)="openModal(content,usuario)" class="editar-icon"></td>
        </tr>
      </table>
    </div>
  </div>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><div>Cambiar permiso</div></h4>
      <button type="button"  aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
          <label for="dateOfBirth">Permiso</label>
          <div class="input-group">

            <form [formGroup]="FormCambioPermiso" style="width: 100%">
              <select   formControlName="grupoCambiar" class="form-control" name="grupo" id="grupo" value="Permiso">
                <option disabled selected>Permiso</option>
                <option *ngFor="let grupo of Grupos" [value]="grupo.value">{{grupo.label}}</option>
              </select>
            </form>

          </div>
        </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardarCambioPermisoUsuario()">Guardar cambio</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Cerrar</button>
    </div>

    <!--
          <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
    -->

  </ng-template>
</div>

