<div class="card-busqueda">
  <div>Buscar usuario por</div>
  <div>
    <form [formGroup]="FiltroUsuarioForm">
      <section>
        <div class="col2-row2">
         <!--<input  formControlName="correoFiltrar" type="email" id="email" name="email" placeholder="Correo electrónico" class="selectList">--> 

          <select formControlName="correoFiltrar" name="rolFiltrar" id="rolFiltrar" value="Permiso" class="selectList">
            <option disabled selected value="correo">Correo electrónico</option>
            <option *ngFor="let usuario of ListadoUsuariosOriginal" [value]="usuario.Attributes.email">{{usuario.Attributes.email}}</option>
          </select>
        </div>
        <div class="col2-row2">
          <select formControlName="rolFiltrar" name="rolFiltrar" id="rolFiltrar" value="Permiso" class="selectList">
            <option disabled selected value="Permiso">Permiso</option>
            <option *ngFor="let Permiso of Permisos" [value]="Permiso">{{Permiso}}</option>
          </select>
        </div>
        <div class="col2-row2"><select formControlName="areaFiltrar" name="areaFiltrar" id="areaFiltrar" value="area" class="selectList">
            <option disabled selected value="area">Área</option>
            <option *ngFor="let Area of Areas" [value]="Area">{{Area}}</option>
          </select></div>
        <div class="col2-row2">
          <button (click)="filtrar()">Buscar</button>
        </div>
      </section>
    </form>
  </div>
</div>
<div class="row justify-content-center ">
  <div class="d-flex col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 justify-content-center">
    <div class="card-lista-design-general" style="overflow-x:auto;">
      <table class="table  listado-design-general" *ngIf="ListadoUsuariosPantalla.length > 0 as ListadoUsuarios ">
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Área</th>
          <th>Permisos</th>
          <th>Negocio</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let usuario of ListadoUsuariosPantalla | oredenascEmailusurios:'email' ">
          <td style="padding-left: 40px;"> {{retornarStringSiexiste(usuario.Attributes, 'given_name')}}
            {{retornarStringSiexiste(usuario.Attributes, 'family_name')}} </td>
          <td> {{retornarStringSiexiste(usuario.Attributes, 'email')}} </td>
          <td>{{usuario.GrupoQuePertenece}}</td>
          <td>{{retornarStringSiexiste(usuario.Attributes, 'custom:rol')}} </td>
          <td>{{retornarStringSiexiste(usuario.Attributes, 'custom:negocio')}} </td>
          <td> <img (click)="openModal(content,usuario)" class="editar-icon"></td>
        </tr>
      </table>
    </div>
  </div>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <div>Cambiar permiso</div>
      </h4>
      <button type="button" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="FormCambioPermiso" style="width: 100%">
        <div class="form-group">
          <label for="dateOfBirth">Permiso</label>
          <div class="input-group">
            <select formControlName="rolCambiar" class="form-control" name="grupo" id="grupo" value="Permiso">
              <option disabled selected>Permiso</option>
              <option *ngFor="let grupo of Roles" [value]="grupo.value">{{grupo.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Negocio</label>
          <div class="input-group">
            <select formControlName="negocioCambiar" class="form-control" name="negocio" id="negocio" value="negocio">
              <option disabled selected value="negocio">Negocio</option>
              <option *ngFor="let negocio of Negocios" [value]="negocio">{{negocio}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardarCambioPermisoUsuario()">Guardar cambio</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Cerrar</button>
    </div>

    <!--
          <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
    -->

  </ng-template>
</div>
