<div class="container-fluid bg">
  <div
    class="d-flex flex-row-reverse align-items-center"
    style="height: 100vh; width: 100%"
  >
    <div class="col-md-6 col-sm-7 col-xs-12 col-lg-5 mr-2">
      <div class="card card-pre-login">
        <div
          class="d-flex flex-column align-items-center container-card-login"
        >
          <div class="p-2 d-flex flex-column align-items-center justify-content-end">


            <div class="logo-principal-login"></div>
          </div>
          <div
            class="p-2 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="text-title-1">Sistema Integral</div>
            <div class="text-title-2 mt-1">Automtizado</div>
          </div>
          <div class="mt-4">
            <button type="button" class="btn button-login">

            <span class="label-btn-login" (click)="login()">
              Iniciar sesión

            </span>


            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
