<div
  class="row justify-content-center"
  [ngClass]="{
    'show-ejecuciones': mostrarEjecucionesProcesos == true,
    'hide-ejecuciones': mostrarEjecucionesProcesos == false
  }"
>
  <div
    class="
      d-flex
      col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12
      justify-content-center
    "
  >
    <div class="card-lista-design-general" style="overflow-x: auto">
      <table class="table listado-design-general">
        <tr>
           <!--  <th scope="col">Name</th>-->
          <th scope="col">Descripción</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
        <tr *ngFor="let NotificacionesSetting of NotificacionesSettings">
        <!-- <td>{{ NotificacionesSetting.name }}</td> -->
          <td>{{ NotificacionesSetting.description }}</td>
          <td>{{ siONo(NotificacionesSetting.enabled) }}</td>
          <td>
            <img
              style="cursor: pointer"
              (click)="mostrarCardEditarResgistro(NotificacionesSetting)"
              class="editar-icon-catalog"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div
  class="row justify-content-center"
  [ngClass]="{
    'show-ejecuciones': mostrarEjecucionesProcesos == false,
    'hide-ejecuciones': mostrarEjecucionesProcesos == true
  }"
  *ngIf="Forms"
>
  <div class="col-12">
    <div class="card agregarRegistroCard">
      <div
        class="aling-items-center text-center"
        style="margin-top: 20px; margin-bottom: 5px"
      >
        <div
          class="
            d-flex
            flex-column
            align-items-center
            justify-content-center
            texto-agregarRegistroCardTitle
          "
        >
          Actualizar {{NotificacionesSettingTemp?.description}} <!--Registro-->
        </div>
      </div>

      <div
        class="card-body"
        style="padding-left: 127px; padding-right: 127px"
        *ngIf="initValuesPanelShow"
      >
        <form [formGroup]="Forms">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="labelFormAgregarRegistro" for="arrayHoras1"
                >Hora incio
              </label>

              <select
                formControlName="arrayHoras1"
                class="form-control"
                (change)="changeEvent($event)"
                id="arrayHoras1"
              >
                <option *ngFor="let Horas1 of arrayHoras1" [value]="Horas1">
                  {{ Horas1 }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="changeEvent($event)"
                  id="horafinCheck"
                  formControlName="horafinCheck"
                />
              </div>

              <label class="labelFormAgregarRegistro" for="arrayHoras2"
                >Hora fin
                <i
                  class="far fa-question-circle"
                  (mouseenter)="helperInputs('ayudaHora')"
                  triggers="mouseenter:mouseleave"
                  [ngbPopover]="popContent"
                  [popoverTitle]="popTitle"
                ></i>
              </label>

              <select
                *ngIf="activarHorafin"
                formControlName="arrayHoras2"
                class="form-control"
                id="arrayHoras2"
              >
                <option *ngFor="let Horas2 of arrayHoras2" [value]="Horas2">
                  {{ Horas2 }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="activarMinutos">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="changeEvent($event)"
                  id="minutosCheck"
                  formControlName="minutosCheck"
                />
              </div>

              <label class="labelFormAgregarRegistro" for="minutos"
                >Intervalo de tiempo en minuto
                <i
                  class="far fa-question-circle"
                  (mouseenter)="helperInputs('ayudaMinutos')"
                  triggers="mouseenter:mouseleave"
                  [ngbPopover]="popContent"
                  [popoverTitle]="popTitle"
                ></i>
              </label>

              <select
                formControlName="minutos"
                class="form-control"
                id="minutos"
              >
                <option *ngFor="let minuto of arrayMinutos" [value]="minuto">
                  {{ minuto }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="!activarMinutos">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="changeEvent($event)"
                  id="minutosCheck"
                  formControlName="minutosCheck"
                />
              </div>
              <label class="labelFormAgregarRegistro" for="minutos"
                >Intervalo de tiempo en minuto
                <i
                  class="far fa-question-circle"
                  (mouseenter)="helperInputs('ayudaMinutos')"
                  triggers="mouseenter:mouseleave"
                  [ngbPopover]="popContent"
                  [popoverTitle]="popTitle"
                ></i>
              </label>

              <select
                formControlName="minutos2"
                class="form-control"
                id="minutos2"
              >
                <option *ngFor="let minuto2 of arrayMinutos2" [value]="minuto2">
                  {{ minuto2 }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6"></div>

            <div class="form-group col-md-6">
              <label class="labelFormAgregarRegistro" for="arrayDias1"
                >Dia inicio
              </label>

              <select
                formControlName="arrayDias1"
                class="form-control"
                id="arrayDias1"
                (change)="changeEvent($event)"
              >
                <option *ngFor="let dia1 of arrayDias1" [value]="dia1.value">
                  {{ dia1.label }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="changeEvent($event)"
                  id="diafinCheck"
                  formControlName="diafinCheck"
                />
              </div>
              <label class="labelFormAgregarRegistro" for="arrayDias1"
                >Dia fin

                <i
                  class="far fa-question-circle"
                  (mouseenter)="helperInputs('ayudaDia')"
                  triggers="mouseenter:mouseleave"
                  [ngbPopover]="popContent"
                  [popoverTitle]="popTitle"
                ></i>
              </label>

              <select
                formControlName="arrayDias2"
                class="form-control"
                id="arrayDias2"
                *ngIf="activarDiafin"
              >
                <option *ngFor="let dia2 of arrayDias2" [value]="dia2.value">
                  {{ dia2.label }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label class="labelFormAgregarRegistro" for="enabled"
                >Activo
              </label>

              <select
                formControlName="enabled"
                class="form-control"
                id="enabled"
              >
                <option
                  *ngFor="let itemEnabled of enableArray"
                  [value]="itemEnabled.value"
                >
                  {{ siONo(itemEnabled.value) }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div
        class="row aling-items-center text-center"
        style="margin-top: 20px; margin-bottom: 30px"
      >
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="row justify-content-center">
            <button
              class="btn btnAgregarCancelarRegistro"
              (click)="ocultarCardAgregarResgistro()"
            >
              Cancelar
            </button>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="row justify-content-center">
            <button
              (click)="updateRegister()"
              [disabled]="Forms.invalid"
              class="btn btnAgregarRegistro"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="default"
  color="#fff"
  type="ball-scale-ripple"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<ng-template #popContent>
  <div style="width: 100%">
    <p>
      {{ ayudaSelect.description }}
    </p>
  </div>
</ng-template>
<ng-template #popTitle>{{ ayudaSelect.title }}</ng-template>
