.container-progeso {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
 
.step-proceso{
    background: #7C69C3;
    width: auto;
    border-radius: 50px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font:  16px FS Elliot Pro;
    color: white;
    z-index: 6;
    box-shadow: 3px 3px 5px #00000033;
    padding: 0px !important;
}
.separador-titulos{
    height: 1px;
    width: 70%;
    background: white;
}

.step-incompleto{
    background: #FF9231 !important;
}

.step-completado{
    background: #7C69C3 !important;
}

.step-completado-final{
    background: #464E7E !important;
}
.step-proceso-disabled{
    margin-left: -25px;
    background: #D6D6D6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    min-width: 200px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font: 16px FS Elliot Pro;
    color: white;
    padding: 30px;
}

.step-proceso-enabled{
    margin-left: -50px;
    background: #7C69C3;
    width: 100%;
    min-width: 200px;
    border-radius: 50px;
    border-top-left-radius: -50px;
    border-bottom-left-radius: -50px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font:  16px FS Elliot Pro;
    color: white;
    box-shadow: 3px 3px 5px #00000033;
    padding-left: 60px;
    padding-right: 25px;

}

.step-1-proceso{
    z-index: 4;
}

.step-2-proceso{
    z-index: 3;
}

.step-3-proceso{
    z-index: 2;
}

.step-4-proceso{
    z-index: 1;
}
.step-4-proceso-finalizado{
    z-index: 1;
    background: #464E7E;
}


.container-referencias-log{
    margin-top: 30px;
    margin-bottom: 50px;
    
    
}

.show-ejecuciones{
    visibility: visible;
    max-height: 50px;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s, max-height 0.5s linear;
}


.hide-ejecuciones{
    visibility: hidden;
    max-height: 0px;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s, max-height 0.3s linear;
  
  }
.container-referencias-log  a {
    font: 20px FS Elliot Pro;
}
.container-referencias-log  a:hover {
    color: #7C69C3;
    text-decoration: underline ;
}

.title-log-table{
    font: normal normal bold 18px/45px FS Elliot Pro;
 
}
table.listado-log{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-content: left;
    width: 100%;
    margin: 25px 0;
    border-spacing: 0 6px;
    text-align: center;
    font: normal normal normal 15px/18px FS Elliot Pro ;
}

table.listado-log  th{
    color: white;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #464E7E ;
    font: bold 18px FS Elliot Pro;
    height: 40px;
    height: 40px;
    font: bold 18px FS Elliot Pro;
    table-layout:fixed;
    text-align: left;
    align-content: center;
}
table.listado-log  td{
    padding-left: 20px;
    margin-left: 20px;
    background-color: #FFFFFF ;
    color: #707070;
    font: 15px FS Elliot Pro;
    height: 40px;
    margin: 6px 0px;
    text-align: left;
    align-content: center;
    vertical-align: middle;
}

table.listado-log td.wideRow, table th.wideRow{
    width: 300px;
    }


.error-log{
    color: #C00000 !important;
}

.warning-log{
    color: #FF7000 !important;
}

.info-log{
    color: #1791DA !important;
}

.debug-log{
    color: #FF7000 !important;
}


table.listado-ejecuciones tr:hover td {
    background-color: #c5c5c5;
    text-decoration: none;
    transition: all 0.3s;
}
.clickable {
    
    cursor: pointer;
  }

.titulo-proceso{
    color: #464E7E;
    font: normal normal bold 20px/20px FS Elliot Pro;
    letter-spacing: 0px;
    margin-top: 30px;
}

.show-info{
    width: 80%;
    height: 1px;
    margin-right: 5px;
    
    background: #a0a0a0  !important;
}

.show-info-button:hover {
    cursor: pointer

}
.hide-div {
    margin: 0;
}

div.card-calendario {
    background: white;
    display: flex;
    width: 100%;
    height: 285px;
    min-width: 420px;
    max-width: 500px;
    margin: 25px 0;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column;
    color: white;
    align-items: center;
    border-radius: 25px;
    border-left: 10px solid #7C69C3;
    box-shadow: 4px 4px 10px #00000033;
  }
  
  .card-calendario div {
    color: #464E7E;
    border: black;
    height: auto;
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font: bold 20px FS Elliot Pro;
  }
  
  .card-calendario div > button {
    background-color: #7C69C3;
    color: white;
    width: 296px;
    height: 50px;
    border-radius: 25px;
    font: bold 20px FS Elliot Pro;
    border: none;
  }