<div class="container-fluid" *ngIf="DataUser$ | async as DataUser">
    <div
      class="flex-row-reverse justify-content-center"
      style="height: 50vh; width: 100%"
    >
    <div class="row justify-content-center">
      
      <div *ngIf="AUDGENESTADOPROCESOS$ | async as AUDGENESTADOPROCESOS  " class=" d-flex col-md-12 col-xs-12 col-sm-12 col-lg-12 mr-12 col-12 align-items-center justify-content-center container-progeso" style="height: 45px;">
        
        <div [ngClass]="{'step-completado': AUDGENESTADOPROCESOS[0]?.ETAPA != 'INICIAL', 'step-incompleto': AUDGENESTADOPROCESOS[0]?.ESTADO == 'FALLIDO' && AUDGENESTADOPROCESOS[0]?.ETAPA == 'INICIAL'}"  class="step-proceso step-proceso-enabled" >
            <span >
                <div>INICIAL</div>
                <div class="separador-titulos"></div>
                <div *ngIf="AUDGENESTADOPROCESOS[0]?.ETAPA !== 'INICIAL' ">Completado</div>
                <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'INICIAL' && AUDGENESTADOPROCESOS[0]?.ESTADO_EJECUCION === 'INICIADO') ">En Proceso</div>
                <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'INICIAL' && AUDGENESTADOPROCESOS[0]?.ESTADO === 'FALLIDO') ">Error</div>
            </span>
        </div>

        

         <div  [ngClass]="{'step-proceso-disabled': AUDGENESTADOPROCESOS[0]?.ETAPA == 'INICIAL',
                        'step-proceso-enabled': AUDGENESTADOPROCESOS[0]?.ETAPA == 'PROCESAMIENTO' || AUDGENESTADOPROCESOS[0]?.ETAPA == 'FINAL',
                        'step-completado': AUDGENESTADOPROCESOS[0]?.ETAPA == 'FINAL' || (AUDGENESTADOPROCESOS[0]?.ESTADO_EJECUCION == 'FINALIZADO' &&  AUDGENESTADOPROCESOS[0]?.ETAPA == 'PROCESAMIENTO') , 
                        'step-incompleto': AUDGENESTADOPROCESOS[0]?.ESTADO == 'FALLIDO' && AUDGENESTADOPROCESOS[0]?.ETAPA == 'PROCESAMIENTO'
                        }" class=" step-1-proceso">
            <span >
                <div>PROCESAMIENTO</div>
                <div *ngIf="AUDGENESTADOPROCESOS[0]?.ETAPA !== 'INICIAL'">
                    <div  class="separador-titulos"></div>
                    <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL' && AUDGENESTADOPROCESOS[0]?.ESTADO === 'EXITOSO') || (AUDGENESTADOPROCESOS[0]?.ETAPA === 'PROCESAMIENTO' && AUDGENESTADOPROCESOS[0]?.ESTADO === 'EXITOSO')">Completado</div>
                    <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'PROCESAMIENTO' && AUDGENESTADOPROCESOS[0]?.ESTADO_EJECUCION === 'INICIADO') ">En Proceso</div>
                    <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'PROCESAMIENTO' && AUDGENESTADOPROCESOS[0]?.ESTADO === 'FALLIDO') ">Error</div>
                </div>
            </span>
        </div>

        

        <div  [ngClass]="{'step-proceso-disabled': AUDGENESTADOPROCESOS[0]?.ETAPA != 'FINAL',
                        'step-proceso-enabled': AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL',
                        'step-completado': AUDGENESTADOPROCESOS[0]?.ESTADO == 'EXITOSO' && AUDGENESTADOPROCESOS[0]?.ETAPA == 'FINAL', 
                        'step-incompleto': AUDGENESTADOPROCESOS[0]?.ESTADO == 'FALLIDO' && AUDGENESTADOPROCESOS[0]?.ETAPA == 'FINAL'
                        }" class="step-4-proceso">
            <span >
                <div>FINAL</div>
                <div *ngIf="AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL'">
                    <div  class="separador-titulos"></div>
                    <div *ngIf="AUDGENESTADOPROCESOS[0]?.ESTADO === 'EXITOSO' && AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL'">Completado</div>
                    <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL' && AUDGENESTADOPROCESOS[0]?.ESTADO_EJECUCION === 'INICIADO') ">En Proceso</div>
                    <div *ngIf="(AUDGENESTADOPROCESOS[0]?.ETAPA === 'FINAL' && AUDGENESTADOPROCESOS[0]?.ESTADO === 'FALLIDO') ">Error</div>
                </div>
            </span>
        </div>
      
      </div>
      
  
    </div>

    <!-- <div class="row justify-content-center container-referencias-log"  >
        <div class=" d-flex col-md-2 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
            

        
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>

    </div> -->

    <div class="row justify-content-center container-referencias-log"  >
        <div class="d-flex col-md-12 col-xs-12 col-sm-9 col-lg-9 mr-9 col-9 align-items-left justify-content-left ">
            <span class="title-log-table">Detalle de actividades</span>
        </div>
        <div class="d-flex col-md-9 col-xs-9 col-sm-9 col-lg-9 mr-9 col-9 align-items-center justify-content-center" *ngIf="(rolesValids(DataUser, [Administrador]))">
            <table class="listado-log" *ngIf="AUDGENPROCESOS$ | async as AUDGENPROCESOS">
                
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Hora</th>
                        <th colspan="12" >Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let AUDGENPROCESO of AUDGENPROCESOS  let last = last ; let first = first" [ngClass]="{first: first, last: last, primero: primero }">
                        <td *ngIf="AUDGENPROCESO.NIVEL === 'INFO' " style="color: #1791DA;">{{AUDGENPROCESO.NIVEL}}</td>
                        <td *ngIf="AUDGENPROCESO.NIVEL === 'DEBUG' " style="color: #FF7000;">{{AUDGENPROCESO.NIVEL}}</td>
                        <td *ngIf="AUDGENPROCESO.NIVEL === 'FALLIDO' " style="color: #C00000;">{{AUDGENPROCESO.NIVEL}}</td>
                        <td >{{AUDGENPROCESO.FECHA}}</td>
                        <td >{{AUDGENPROCESO.MENSAJE_SOPORTE}}</td>

                    </tr>
                </tbody>
              </table>
        </div>

        <div class="d-flex col-md-9 col-xs-9 col-sm-9 col-lg-9 mr-9 col-9 align-items-center justify-content-center" *ngIf="(rolesValids(DataUser, [Soporte]))">
            <table class="listado-log" *ngIf="AUDGENPROCESOS$ | async as AUDGENPROCESOS">
                
                <thead>
                    <tr>
                        
                        <th>Hora</th>
                        <th colspan="12" >Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let AUDGENPROCESO of AUDGENPROCESOS  let last = last ; let first = first" [ngClass]="{first: first, last: last, primero: primero }">
                        <td >{{AUDGENPROCESO.FECHA}}</td>
                        <td *ngIf="AUDGENPROCESO.NIVEL === 'FALLIDO'" style="color: #C00000;">{{AUDGENPROCESO.MENSAJE_NEGOCIO}}</td>
                        <td *ngIf="AUDGENPROCESO.NIVEL !== 'FALLIDO'">{{AUDGENPROCESO.MENSAJE_NEGOCIO}}</td>
                    </tr>
                </tbody>
              </table>
        </div>

    </div>
  
    
  
  </div>
  
  