<div class="container-fluid">
    <div
      class="flex-row-reverse justify-content-center"
      style="height: 100vh; width: 100%"
    >
    <div class="row justify-content-center">
      
      <div class=" d-flex col-md-12 col-xs-4 col-sm-4 col-lg-12 mr-4 col-4 align-items-center justify-content-center container-progeso" style="height: 45px;">
      
        <span class="step-proceso">Inicio</span>
        <span class="step-proceso-disabled">Insumos</span>
        <span class="step-proceso-disabled">Mapeo de datos</span>
        <span class="step-proceso-disabled">Generacion de salida</span>
        <span class="step-proceso-disabled">Entrega a backoffice</span>
        
      </div>
      
  
    </div>

    <div class="row justify-content-center container-referencias-log"  >
        <div class=" d-flex col-md-2 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
            

        
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>

    </div>

    <div class="row justify-content-center container-referencias-log"  >
        <div class="d-flex col-md-12 col-xs-12 col-sm-9 col-lg-9 mr-9 col-9 align-items-left justify-content-left ">
            <span class="title-log-table">Mapeo de datos con errores</span>
        </div>
        <div class="d-flex col-md-9 col-xs-9 col-sm-9 col-lg-9 mr-9 col-9 align-items-center justify-content-center">
            <table class="listado-log" *ngIf="AUDGENPROCESOS$ | async as AUDGENPROCESOS ">
                
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Hora</th>
                        <th colspan="12" >Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let AUDGENPROCESO of AUDGENPROCESOS | orderBy:'FECHA':true;  ">
                        <td style="color: #1791DA;">{{AUDGENPROCESO.MENSAJE.TIPO}}</td>
                        <td >{{AUDGENPROCESO.FECHA}}</td>
                        <td >{{AUDGENPROCESO.MENSAJE.DETALLE}}</td>
                    </tr>
                    
                </tbody>
              </table>
        </div>

    </div>
  
    
  
  </div>
  
  