<div class="container-fluid">
    <div
      class="flex-row-reverse justify-content-center"
      style="height: 100vh; width: 100%"
    >
    <div class="row justify-content-center">
      
      <div class=" d-flex col-md-12 col-xs-4 col-sm-4 col-lg-12 mr-4 col-4 align-items-center justify-content-center container-progeso" style="height: 45px;">
      
        <span class="step-proceso">Inicio</span>
        <span class="step-proceso-disabled">Insumos</span>
        <span class="step-proceso-disabled">Mapeo de datos</span>
        <span class="step-proceso-disabled">Generacion de salida</span>
        <span class="step-proceso-disabled">Entrega a backoffice</span>
        
      </div>
      
  
    </div>

    <div class="row justify-content-center container-referencias-log"  >
        <div class=" d-flex col-md-2 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
            

        
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>
        <div class=" d-flex col-md-3 col-xs-3 col-sm-3 col-lg-3 mr-3 col-3 align-items-center justify-content-center" style="height: 45px;">
            <a >Ver logs</a>
        </div>

    </div>

    <div class="row justify-content-center container-referencias-log"  >
        <div class="d-flex col-md-12 col-xs-12 col-sm-9 col-lg-9 mr-9 col-9 align-items-left justify-content-left ">
            <span class="title-log-table">Mapeo de datos con errores</span>
        </div>
        <div class="d-flex col-md-9 col-xs-9 col-sm-9 col-lg-9 mr-9 col-9 align-items-center justify-content-center">
            <table class="listado-log">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Hora</th>
                        <th colspan="12" >Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color: #1791DA;">INFO</td>
                        <td >01/01/2021 13:00</td>
                        <td >La carga de los archivos finalizó de forma correcta.</td>
                    </tr>
                    <tr>
                        <td style="color: #FF7000;">WARN</td>
                        <td>01/01/2021 13:00</td>
                        <td><span class="material-icons-outlined">El archivo A2Soltrades contiene valores vacios en los campos: TRD_CURRENCY.</span></td>
                    </tr>
                    <tr>
                        <td style="color: #C00000;">ERROR</td>
                        <td>01/01/2021 13:00</td>
                        <td><span class="material-icons-outlined">No se encontró ninguna contraparte para la siefore APRIN55, CUSIP de la operacion: AD54E54.</span></td>
                    </tr>
                    <tr>
                        <td style="color: #C00000;">ERROR</td>
                        <td>01/01/2021 13:00</td>
                        <td><span class="material-icons-outlined">No se encontrarón datos para mapear sobre la operación AD54E54.</span></td>
                    </tr>
                    <tr>
                        <td style="color: #C00000;">ERROR</td>
                        <td>01/01/2021 13:00</td>
                        <td><span class="material-icons-outlined">No se ha podido generar una salida para la operación AD54E54.</span></td>
                    </tr>
                </tbody>
              </table>
        </div>

    </div>
  
    
  
  </div>
  
  