.container-progeso {
    margin-top: 50px;
}
 
.step-proceso{
    background: #7C69C3;
    width: 200px;
    border-radius: 50px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font:  16px FS Elliot Pro;
    color: white;
    z-index: 6;
    box-shadow: 3px 3px 5px #00000033;
}

.step-proceso-disabled{
    margin-left: -25px;
    background: #D6D6D6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 200px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font: 16px FS Elliot Pro;
    color: white;
}

.step-proceso-enabled{
    margin-left: -50px;
    background: #7C69C3;
    width: auto;
    min-width: 200px;
    border-radius: 50px;
    border-top-left-radius: -50px;
    border-bottom-left-radius: -50px;
    height: 63px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font:  16px FS Elliot Pro;
    color: white;
    box-shadow: 3px 3px 5px #00000033;
    padding-left: 60px;
    padding-right: 25px;
}

.step-1-proceso{
    z-index: 4;
}

.step-2-proceso{
    z-index: 3;
}

.step-3-proceso{
    z-index: 2;
}

.step-4-proceso{
    z-index: 1;
}
.step-4-proceso-finalizado{
    z-index: 1;
    background: #464E7E;
}

.container-referencias-log{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-referencias-log  a {
    font: 20px FS Elliot Pro;
}
.container-referencias-log  a:hover {
    color: #7C69C3;
    text-decoration: underline ;
}

.title-log-table{
    font: bold 18px FS Elliot Pro;
 
}
table.listado-log{
    color: white;
    width: 100%;
    margin: 25px 0;
    border-spacing: 0 6px;
    text-align: center;
}

table.listado-log  th{
    margin-left: 20px;
    background-color: #464E7E ;
    font: bold 18px FS Elliot Pro;
    height: 40px;
    height: 40px;
    font: bold 18px FS Elliot Pro;
    table-layout:fixed;
    text-align: center;
    align-content: center;
}
table.listado-log  td{

    margin-left: 20px;
    background-color: #FFFFFF ;
    color: #707070;
    font: 15px FS Elliot Pro;
    height: 40px;
    margin: 6px 0px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

table.listado-log td.wideRow, table th.wideRow{
    width: 300px;
    }
