<section id="auditoria" class="margintop" class="paddingIzquierdaDerecha">
  <div class="container-fluid">
    <div class="d-flex" style="height: 75vh; width: 95%">
      <div class="row" style="width: 100%">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card" routerLink="/auditoria/archivos">
            <img
              src="assets/imgs/auditoria/archivos2x.png"
              style="height: 100%"
              class="heighImgAuditoria"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card" routerLink="/auditoria/procesos">
            <img
              src="assets/imgs/auditoria/procesos2x.png"
              style="height: 100%"
              class="heighImgAuditoria"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card" routerLink="/auditoria/catalogos">
            <img
              src="assets/imgs/auditoria/catalogos2x.png"
              style="height: 100%"
              class="heighImgAuditoria"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card" routerLink="/auditoria/usuarios">
            <img
              src="assets/imgs/auditoria/usuarios2x.png"
              style="height: 100%"
              class="heighImgAuditoria"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
