<section id="optionshome">
  <div class="container-fluid">
    <div class="d-flex" style="height: 75vh; width: 100%">
      <div class="row" style="width: 100%">
        <div
          class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
          *ngIf="AforesSubs.length > 0"
        >
          <div class="card cardAzul" style="padding-left: 10px">
            <div class="card-body cardCatalogos">
              <div class="d-flex flex-column">
                <div>
                  <div class="elementsMenus d-flex flex-column">
                    <div>
                      <ul class="acomodardorDeLista">
                        <li class="tituloPrincipalCatalogos">
                          <span class="spanColorCatalogosListaTituloPricipal"
                            >Afores</span
                          >
                        </li>
                        <ul class="acomodardorDeLista">
                          <li
                            class="subtitulosCatalogos"
                            *ngFor="let AforesGen of AforesGens"
                            (click)="
                              goDetailCat(
                                AforesGen.NOMBRE_NEGOCIO,
                                AforesGen.NOMBRE
                              )
                            "
                          >
                            <span
                              (click)="
                                goDetailCat(
                                  AforesGen.NOMBRE_NEGOCIO,
                                  AforesGen.NOMBRE
                                )
                              "
                            >
                              {{ AforesGen.NOMBRE_NEGOCIO }}</span
                            >
                          </li>
                          <ul
                            class="acomodardorDeLista"
                            *ngFor="let AforesSub of AforesSubs"
                          >
                            <li class="tituloPrincipalCatalogos">
                              <span
                                class="spanColorCatalogosListaTituloPricipal"
                                >{{ AforesSub.INTERFAZ }}</span
                              >
                            </li>
                            <ul class="acomodardorDeLista">
                              <li
                                class="subtitulosCatalogos"
                                *ngFor="let SUBMENU of AforesSub.SUBMENUS"
                                (click)="
                                  goDetailCat(
                                    SUBMENU.NOMBRE_NEGOCIO,
                                    SUBMENU.NOMBRE
                                  )
                                "
                              >
                                <span
                                  (click)="
                                    goDetailCat(
                                      SUBMENU.NOMBRE_NEGOCIO,
                                      SUBMENU.NOMBRE
                                    )
                                  "
                                >
                                  {{ SUBMENU.NOMBRE_NEGOCIO }}</span
                                >
                              </li>
                            </ul>
                          </ul>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
          *ngIf="FondosSubs.length > 0"
        >
          <div class="card cardAzul" style="padding-left: 10px">
            <div class="card-body cardCatalogos">
              <div class="d-flex flex-column">
                <div>
                  <div class="elementsMenus d-flex flex-column">
                    <div>
                      <ul class="acomodardorDeLista">
                        <li class="tituloPrincipalCatalogos">
                          <span class="spanColorCatalogosListaTituloPricipal"
                            >Fondos</span
                          >
                        </li>
                        <ul class="acomodardorDeLista">
                          <li
                            class="subtitulosCatalogos"
                            *ngFor="let FondosGen of FondosGens"
                            (click)="
                              goDetailCat(
                                FondosGen.NOMBRE_NEGOCIO,
                                FondosGen.NOMBRE
                              )
                            "
                          >
                            <span
                              (click)="
                                goDetailCat(
                                  FondosGen.NOMBRE_NEGOCIO,
                                  FondosGen.NOMBRE
                                )
                              "
                            >
                              {{ FondosGen.NOMBRE_NEGOCIO }}</span
                            >
                          </li>
                          <ul
                            class="acomodardorDeLista"
                            *ngFor="let FondosSub of FondosSubs"
                          >
                            <li class="tituloPrincipalCatalogos">
                              <span
                                class="spanColorCatalogosListaTituloPricipal"
                                >{{ FondosSub.INTERFAZ }}</span
                              >
                            </li>
                            <ul class="acomodardorDeLista">
                              <li
                                class="subtitulosCatalogos"
                                *ngFor="let SUBMENU of FondosSub.SUBMENUS"
                                (click)="
                                  goDetailCat(
                                    SUBMENU.NOMBRE_NEGOCIO,
                                    SUBMENU.NOMBRE
                                  )
                                "
                              >
                                <span
                                  (click)="
                                    goDetailCat(
                                      SUBMENU.NOMBRE_NEGOCIO,
                                      SUBMENU.NOMBRE
                                    )
                                  "
                                >
                                  {{ SUBMENU.NOMBRE_NEGOCIO }}</span
                                >
                              </li>
                            </ul>
                          </ul>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
          *ngIf="GenericosGens.length > 0"
        >
          <div class="card cardAzul" style="padding-left: 10px">
            <div class="card-body cardCatalogos">
              <div class="d-flex flex-column">
                <div>
                  <div class="elementsMenus d-flex flex-column">
                    <div>
                      <ul class="acomodardorDeLista">
                        <li class="tituloPrincipalCatalogos">
                          <span class="spanColorCatalogosListaTituloPricipal"
                            >Generales</span
                          >
                        </li>
                        <ul class="acomodardorDeLista">
                          <li
                            class="subtitulosCatalogos"
                            *ngFor="let GenericosGen of GenericosGens"
                            (click)="
                              goDetailCat(
                                GenericosGen.NOMBRE_NEGOCIO,
                                GenericosGen.NOMBRE
                              )
                            "
                          >
                            <span
                              (click)="
                                goDetailCat(
                                  GenericosGen.NOMBRE_NEGOCIO,
                                  GenericosGen.NOMBRE
                                )
                              "
                            >
                              {{ GenericosGen.NOMBRE_NEGOCIO }}</span
                            >
                          </li>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
