<section id="optionshome">
  <div class="container-fluid">
    <div class="d-flex" style="height: 75vh; width: 100%">
      <div class="row" style="width: 100%">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="card cardAzul" style="padding-left: 10px">
            <div class="card-body cardCatalogos">
              <div class="d-flex flex-column">
                <div>
                  <div class="elementsMenus d-flex flex-column">
                    <div>
                      <ul class="acomodardorDeLista">
                        <li class="tituloPrincipalCatalogos">
                          <span class="spanColorCatalogosListaTituloPricipal"
                            >Afores</span
                          >
                        </li>
                        <ul class="acomodardorDeLista">
                          <li
                            class="subtitulosCatalogos"
                            *ngFor="let AforesGen of AforesGens"
                            (click)="goDetailCat(AforesGen.NOMBRE_NEGOCIO, AforesGen.NOMBRE)"
                          >

                          <span (click)="goDetailCat(AforesGen.NOMBRE_NEGOCIO, AforesGen.NOMBRE)"> {{ AforesGen.NOMBRE_NEGOCIO }}</span>
                            {{ AforesGen.NOMBRE_NEGOCIO }}
                          </li>
                          <ul
                            class="acomodardorDeLista"
                            *ngFor="let AforesSub of AforesSubs"
                          >
                            <li class="tituloPrincipalCatalogos">
                              <span
                                class="spanColorCatalogosListaTituloPricipal"
                                >{{ AforesSub.INTERFAZ }}</span
                              >
                            </li>
                            <ul class="acomodardorDeLista">
                              <li
                                class="subtitulosCatalogos"
                                *ngFor="let SUBMENU of AforesSub.SUBMENUS"
                                (click)="goDetailCat(SUBMENU.NOMBRE_NEGOCIO, SUBMENU.NOMBRE)"
                              > <span (click)="goDetailCat(SUBMENU.NOMBRE_NEGOCIO, SUBMENU.NOMBRE)"> {{ SUBMENU.NOMBRE_NEGOCIO }}</span>

                              </li>
                            </ul>
                          </ul>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
