.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div.container-selector-proceso {
  width: auto;
  height: 45px;

  margin-bottom: 50px;
  margin-top: 50px;
}

.selector-proceso {
  width: auto;
  height: 45px;
  border-radius: 25px;
  min-width: 328px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.selector-proceso > button {
  width: 50%;
  height: 45px;
  height: 100%;
  border: none;
  background: white;
  color: #464E7E;
  font: bold 20px FS Elliot Pro;
  cursor: pointer;
}
.selector-proceso > button:focus {
  background-color: #464E7E;
  color: white;
  transition: background 0.2s linear;
  box-shadow: 3px 3px 5px #464E7E;
}
#right-button {
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
}

#left-button {
  border-top-left-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
}

.container-procesos {
  background: red;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  margin: 25px 0;
  width: 95%;
}



div.card-lista-proceso {
  width: auto;
  
  min-width: 477px;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

table.listado-proceso {
  color: white;
  width: 100%;
  margin: 25px 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 6px;
}

table.listado-proceso th {
  background-color: #464E7E;
  font: bold 18px FS Elliot Pro;
  height: 40px;
  font: bold 18px FS Elliot Pro;
}
table.listado-proceso td {
  text-align: center;
  background-color: white;
  color: #707070;
  font: 18px FS Elliot Pro;
  height: 40px;
  margin: 6px 0px;
  min-width: 210px;
}
.listado-proceso tr td:first-of-type {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.listado-proceso tr td:last-of-type {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.paginator{
  margin-left: 5%;
  margin-right: 5%;
}
